.dpron-i {
    display: none;
}

.wordlist-add-button {
    display: none;
}

.smartt {
    display: none;
}

.idiom {
    display: none;
}

.idioms {
    display: none;
}

.see_also {
    display: none;
}

.dphrase-block {
    display: none;
}

.bb.hax{
    display: none;
}

.xref.phrasal_verb.hax.dxref-w.lmt-25.lmb-25{
    display: none;
}

.pr.x.lbb.lb-cm {
    display: none;
}
